[2018-12-05 23:22] aaronbrethorst opened #1 "Example project fails to build"
I'm seeing two errors in the example project when I try building it.
Repro:

1. Download project via https
2. Navigate to example project directory in terminal
3. `pod install`
4. Open xcworkspace
5. Cmd+R

Expected: Project builds and runs.

Actual: Two errors prevent building

[code]

[2018-12-06 08:57] gaetanzanella commented on #1
Hi @aaronbrethorst, thanks for the issue.

I downloaded master and it works. Be sure to execute 3 before 4. I use Xcode 10.1 and I tried with cocoapods 1.5.3 & 1.6.0 beta.

I will integrate Travis soon. Let me know.

[2018-12-06 14:46] marcinmatczuk commented on #1
Doesn't work as well. Xcode 10.1, pods 1.5.3.

`pod install` output also includes this:
[code]
that could be the reason, but I think it's something on your machine, @gaetanzanella, that is not reflected in the codebase.

[2018-12-06 15:01] gaetanzanella commented on #1
Right, I used cocoapods 1.6.0 beta because of https://github.com/CocoaPods/CocoaPods/issues/7708

I downgraded to 1.5.3. It should be good now. Thank you !

[2018-12-06 15:35] gaetanzanella commented on #1
Right, I used cocoapods 1.6 beta because of https://github.com/CocoaPods/CocoaPods/issues/7708.

I regenerated the project using cocoapods 1.5.3. It should be good now. Thanks !

[2018-12-07 08:43] #1 closed

[2018-12-18 02:13] iCodist opened #2 "I can't find it in Cocoapods."
[!] Unable to find a pod with name, author, summary, or description matching `OverlayContainer`

[2018-12-18 11:00] felginep commented on #2
You can find it here: https://cocoapods.org/pods/OverlayContainer

[2018-12-18 15:30] #2 closed

[2018-12-21 16:48] gaetanzanella opened #3 "Wrong spring animation on overlays containing subviews pinned to bottom"
The default overlay animator `SpringOverlayTranslationAnimationController` doesn't animate correctly overlays with subviews pinned to bottom.

![bug](https://user-images.githubusercontent.com/27817228/50352439-7a0c0080-0545-11e9-9cee-477f87308d36.gif)

The bug seems to be related to `UISpringTimingParameters` which animates all the components of the frame of each views if the initialVelocity param

[2019-01-02 09:06] #3 closed

[2019-01-04 12:28] jayarajb1116 opened #4 "How do I use this in Swift 4.1 and XCode 9.4.1?"

[2019-01-15 18:31] gaetanzanella commented on #4
Hi jayarajb1116, did you try to use it ? What error message did you get ?

[2019-01-16 05:07] jayarajb1116 commented on #4
I'm using Xcode 9.4.1. I installed cocoa pods. It shows errors as the framework is not in swift 4.1.
it asked me to change the syntax to swift 4.1. I want to know whether the framework will work in Swift 4.1.

[2019-01-23 14:34] fl034 opened #6 "`reloadNotchHeights()` should be exposed"
I have a situation where my notch heights are changing, so I found the function `OverlayContainerViewControllerConfiguration.reloadNotchHeights()` which does the job.
Unfortunately the `configuration` property inside `OverlayContainerViewController` is private so I can't call it.

As a quick workaround you could declare `configuration` as `private(set)` which allows reading the variable.

[2019-01-23 16:18] gaetanzanella commented on #6
Hi fl034, thanks for the feedback !

I was expecting this need but I couldn't figure a proper use case. Calling `reloadNotchHeights` will update the layout immediately without any animation. Would you show me your scenario ?

You can try to update the overlay container's delegate :
[code]
It should trigger a new computations pass. If you need to animate the change, try to do the same logic in an a

[2019-01-24 13:31] fl034 commented on #6
_I didn't mention before that I appreciate your work within this project and reading your SO answer with the detailed explanation was awesome! 👍_

In my case I have my overlay with a single label containing a hint for the user. Then I have a dynamic `UITableView` containing 1-n elements. Those elements change as the user scans QR-Codes.
So the notch heights are changing and this should be animated

[2019-01-26 14:56] gaetanzanella commented on #4
I created the branch [swift4.1](https://github.com/applidium/ADOverlayContainer/tree/swift4.1). Does it work in your case ?

[2019-01-28 09:48] fl034 commented on #6
Thanks for your efforts. I tested your new code, but it seems to remove the animation.

Let's say I'm at notch `index = 0`. Then my context changes and I want the overlay to move up programmatically, but define the new position as `index = 0` so I can't move it down afterwards.
This is possible by calling `reloadNotchHeights` and then call `moveOverlay(toNotchAt:animated:)`.

Your new function `in

[2019-01-28 12:16] fl034 commented on #6
I would prefer this over a call of `layoutIfNeeded` on the whole window to change the layout of a library controlled interface. The library should offer me a function for everything which is related to it. Calling `layoutIfNeeded` could always be triggering other layout stuff too which I don't want.

Also I know that my `notch = 0` height has changed, so the overlay has to move. So intuitively, I

[2019-01-29 17:11] Errortype520 opened #7 "Add Carthage Support"
Please add Carthage support.

https://github.com/Carthage/Carthage

[2019-01-30 15:15] gaetanzanella commented on #7
Hi Errortype520, the lib should be available on Carthage now. Could you try it ?

[2019-01-30 15:26] gaetanzanella opened #8 "Fix Unit tests"
Since the Carthage support, unit tests fail because of the Quick & Nimble dependancies. It should be fixed.

[2019-02-04 08:56] #7 closed

[2019-02-04 08:56] #4 closed

[2019-02-14 15:51] gaetanzanella commented on #6
I agree about the window. I only use it for convenience reasons in my examples. I updated the branch. You should be able to call `moveOverlay` right after `invalidateNotchHeights` to animate the change.

About your crash, it makes sens to me. If you invalidate the notch heights while the overlay is currently at a notch which is not in the new notch ranges, the overlay is in a ambiguous state. You

[2019-02-20 09:52] kunusiths opened #9 "can width of overlay view can be reduced?"
i mean width of scroll view if reduced,map view can be seen partially while scrolling.

in default case, scroll view is completely blocking map view.
![screen shot 2019-02-20 at 3 38 26 pm](https://user-images.githubusercontent.com/46209817/53083872-b3e98b00-3525-11e9-867c-34938d4ab531.png)

[2019-02-20 13:11] gaetanzanella commented on #9
Hi kunusiths, sorry but I don't understand your question. What do you call "default case"?

If you're using the `StackViewController` provided in the examples, you can of course reduced the width of the overlay container.

[2019-02-20 13:14] kunusiths commented on #9
Can u please tell how to keep gap in back view and slide view

[2019-02-20 13:19] kunusiths commented on #9
default case means when u not change any constraints in your
library

[2019-02-20 13:21] gaetanzanella commented on #9
You can either reduce the scroll view width inside the overlay or directly reduce the overlay view container width.

For example, in the `SearchViewController` :
[code]

[2019-02-20 13:24] kunusiths commented on #9
can you tell how to  reduce scroll view please, because reducing table view map view will not be visible please help.

[2019-02-20 13:27] gaetanzanella commented on #9
Can you see me your result so far ?

[2019-02-20 13:32] kunusiths commented on #9
so far when i changed table view insets table view is moving but side by it is not transparent scroll view is still there.

[2019-02-20 13:38] gaetanzanella commented on #9
Did you try to change the background color of your view controller's view to `.clear` ?

[2019-02-20 14:25] kunusiths commented on #9
it worked.Thanx

[2019-02-20 14:25] #9 closed

[2019-02-20 14:29] gaetanzanella commented on #9
Yes, copy/paste all the files of the `Sources` folder

[2019-02-21 13:24] kunusiths commented on #9
Hi Sir,
  is it possible to push another viewcontroller in sliding view on tapping of table view cell in that slide view.please answer

[2019-02-21 13:29] gaetanzanella commented on #9
Hi Sandeep,

For now, unfortunately, you can’t. I’m working on it but I didn't have the time to finish it.

You'd have to create your own container with its own animation like this :

class MyContainerViewController: UIViewController {
    func push(_ viewController: UIViewController) {
        // add the view controller as a child and put it on top of the other with an animation
    }

    func p

[2019-02-21 13:32] gaetanzanella commented on #9
Hi Sandeep,

For now, unfortunately, you can’t. I’m working on it but I didn't have the time to finish it.

You'd have to create your own container with its own animation like this :

[code]

Don’t forget to set the drivingScrollView each time a view controller appears !

[2019-02-21 15:34] kunusiths commented on #9
Hello sir,
child.didMove(toParentViewController: self) and child.didMove(toParent: self) are these both the same?. i am getting error and in child.didMove(toParent: self) so i renamed it to child.didMove(toParentViewController: self) .but i am getting other issue when i added this in my app.
i am not able to drag back ground map view but scroll view is scrolling.please help.

[2019-02-22 07:12] kunusiths opened #10 "Not working properly when added source folder directly without installling pods"
Hello sir,
child.didMove(toParentViewController: self) and child.didMove(toParent: self) are these both the same?. i am getting error and in child.didMove(toParent: self) so i renamed it to child.didMove(toParentViewController: self) .but i am getting other issue when i added this in my app.
i am not able to drag back ground map view but scroll view is scrolling.

when i installed using pods,drag

[2019-02-22 08:49] gaetanzanella commented on #10
OverlayContainer is written in Swift 4.2. Your projects is not using it. Please consider updating or use https://github.com/applidium/ADOverlayContainer/tree/swift4.1

[2019-02-22 08:49] #10 closed

[2019-02-22 08:53] kunusiths commented on #10
can you please list main differences between these versions please.

[2019-02-22 08:54] TurKorsaN opened #11 "Current Notch Position"
If we can check current position or get notified when position changes, that would be great.

Thanks

[2019-02-22 09:01] kunusiths commented on #10
?can u help me locate why the map is not able to drag please.

________________________________
From: gaetanzanella <notifications@github.com>
Sent: Friday, February 22, 2019 2:19 PM
To: applidium/ADOverlayContainer
Cc: Kunusoth Sandeep; Author
Subject: Re: [applidium/ADOverlayContainer] Not working properly when added source folder directly without installling pods (#10)

Closed #10<https://apac0

[2019-02-22 10:27] kunusiths commented on #9
this part of code.

let myContainer = MyContainerViewController()
let overlayContainer = OverlayContainerViewController()
overlayContainer.viewControllers = [myContainer]

let myOverlay = MyOveralyViewController()
myContainer.push(myOverlay)
overlayContainer.drivingScrollView = myOverlay.tableView
in which segment it should be added

[2019-02-22 10:59] gaetanzanella commented on #11
Hi @TurKorsaN , you can. I agree, it's a bit hidden.

Use the dedicated delegate method :

[code]
The coordinator has the following methods:

[code]

[2019-02-22 11:37] kunusiths commented on #9
please help me

[2019-02-22 11:42] TurKorsaN commented on #11
Oh sorry I couldn't see that. Thank you for your time.
P.S. If readme covers these features that would be better :)

[2019-02-22 13:03] gaetanzanella commented on #11
I will. Thanks for the feedback!

[2019-02-22 13:03] #11 closed

[2019-02-22 15:00] kunusiths opened #12 "Not able to push another vc in overlay vc"
Hi Sir,
is it possible to push another viewcontroller in sliding view on tapping of table view cell in that slide view.please help

[2019-02-22 15:14] gaetanzanella commented on #12
For now, unfortunately, you can’t. I’m working on it.

You'd have to create your own container with its own animation like this :
[code]

Don’t forget to set the drivingScrollView each time a view controller appears !

[2019-02-22 15:14] #12 closed

[2019-02-22 15:27] kunusiths commented on #12
func push(_ viewController: UIViewController) {
// add the view controller as a child and put it on top of the other with an animation
}

[code]
how to do this?.i dont have overlayContainer object right can u please throw some light?

[2019-02-25 13:39] gaetanzanella commented on #6
I merged the change. One of my colleagues needed it. Feel free to comment the update in the future @fl034 🙂.

[2019-02-25 13:39] #6 closed

[2019-02-27 16:44] #8 closed

[2019-02-28 09:23] gaetanzanella commented on #12
@kunusiths See https://github.com/applidium/ADOverlayContainer#multiple-overlays

[2019-03-05 20:56] joustava opened #13 "Trigger Translation to certain Notch from code?"
Hi, thanks for creating this library.

I have a usecase where I would like to display the Overlay at a later point and not immediately in a StackedViewController as in the examples. Few options that might help me in this are:
1. Trigger the translations to each Notch position from code?
2. `present` the OverlayContainerView from code?
3. Use an own UIViewControllerTransitioningDelegate?

Do any of

[2019-03-06 16:11] joustava commented on #13
Oops and sorry your example code for multiple overlays is what I was looking for! ❤️

[2019-03-06 16:11] #13 closed

[2019-03-07 12:14] gaetanzanella commented on #13
hi @joustava, this is a good question.

You're right. A good way to do it would be to add an extra empty view controller as the root view controller of a container view controller (the `OverlayNavigationViewController` for example) added to your `OverlayContainerViewController` instance :
[code]
You could also try to play with the `invalidateNotchHeights` method : moving from a overlay with one 0

[2019-03-07 18:15] joustava commented on #13
Thanks for your reply @gaetanzanella

Your root view suggestion works great. I don't seem to be needing a `PassThroughView` in my case as I don't need to propagate any events to the 'main' (in your examples a map) view.

## 👍

[2019-03-12 13:37] joustava opened #14 "Dismissable by swipe"
Is it possible to dismiss the overlay by swiping down with a certain velocity?

I was thinking that it might be possible to hook into the process before/while the notch policy would kick-in or even do this with a notch policy, but somehow that seems kludgy and I am not sure this is the way to go. Any pointers are welcome.

[2019-03-13 10:17] gaetanzanella commented on #14
Because you already asked a question on a way to dismiss the overlay, I suppose you have a container view controller wrapping your actual overlay.

Did you try to implement the delegate of your scrollView and to dismiss the overlay when the user's finger reaches a certain velocity ?

[2019-03-14 13:24] #14 closed

[2019-03-14 14:35] kunusiths commented on #14
?fuck you

________________________________
From: Joost Oostdijk <notifications@github.com>
Sent: Thursday, March 14, 2019 6:54 PM
To: applidium/ADOverlayContainer
Cc: Subscribed
Subject: Re: [applidium/ADOverlayContainer] Dismissable by swipe (#14)

Closed #14<https://apac01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fapplidium%2FADOverlayContainer%2Fissues%2F14&data=02%7C01%

[2019-03-26 14:13] cofa-gaby opened #15 "Carthage build not compatible with XCode 10.2 / Swift 5"
With XCode 10.2 and Swift 5, building `ADOverlayContainer` fails because the Nimble dependency is not compatible with the new Swift toolchain.

Currently `ADOverlayContainer` is referencing:
[code]
But these Nimble versions still use the Swift 3 toolchain which is no longer supported in the XCode 10.2 build tools.

This can be solved by updating the Nimble dependencies to the latest versions:
[cod

[2019-03-27 10:14] gaetanzanella commented on #15
Thanks for the detailed issue !

OverlayContainer 1.1.2 is out. Could you try it ?

[2019-03-27 16:47] cofa-gaby commented on #15
Thanks for the fast fix!
It is working now.

[2019-03-27 16:47] #15 closed

[2019-04-01 11:52] Minsoo-kim92 opened #18 "Is possible reset the height of the notches after initialized overlaycontainer"
I want to adjust the height of the notches when I push a viewcontroller which has a different height with first pushed viewcontroller..

is It possible?

[2019-04-01 12:36] joustava commented on #18
Have a look at `OverlayContainerViewControllerDelegate` in the code and also check the example with multiple overlays. Especially:
[code]
Is probably a good place to start. You probably need to invalidate the notch settings and make sure that you calculation is based on the currently 'going to be presented' UIViewController you use as content.

[2019-04-01 14:19] gaetanzanella commented on #18
As @joustava said, the notches are independent of your navigation stack. So move the overlay right  before pushing your view controller:

[code]

`heightForNotchAt` will be called at the `moveOverlay` line. Return your new notch height.

[2019-04-01 14:35] Minsoo-kim92 commented on #18
Thank you for you guys replies ^^ I will try it

[2019-04-02 02:49] Minsoo-kim92 commented on #18
I was successfully implemented the function properly because of reference your replies, Thank you guys

[2019-04-02 02:49] #18 closed

[2019-04-02 06:47] Minsoo-kim92 opened #19 "I want to detect when moveOverlay()'s animation done"
I want to make `OverlayContainerViewController`'s dismiss animation

the animation would be like this : when NavigationVC stack's size became to 0, `OverlayContainerViewController` is going to call `moveOverlay()` with zero index of notch's height  and I want to remove the `OverlayViewController` when the `moveOverlay`'s animation is done

But `translationController?.moveOverlay` hasn't completion

[2019-04-02 11:31] gaetanzanella commented on #19
In ```    func overlayContainerViewController(_ containerViewController: OverlayContainerViewController,
                                        didEndDraggingOverlay overlayViewController: UIViewController,
                                        transitionCoordinator: OverlayContainerTransitionCoordinator)``` you get a transition coordinate which lets you add completion block when a transition e

[2019-04-02 11:34] joustava commented on #19
@gaetanzanella I guess the use case for this is when one wants to move without dragging.
afaik it would only need changes in
OverlayContainerViewController:
[code]

and e.g HeightContrainstOverlayTranslationController (?)
[code]

[2019-04-02 11:37] joustava commented on #19
@gaetanzanella there is a typo in the classname `HeightContrainstOverlayTranslationController` btw.

[2019-04-02 11:42] gaetanzanella commented on #19
Feel free to contribute @joustava

[2019-04-02 11:52] joustava commented on #19
@gaetanzanella sure, I can have a stab at it! Is my assumption in the my previous comment correct?

[2019-04-02 12:19] gaetanzanella commented on #19
I would make the completion optional and I don't thing `UIViewAnimatingPosition` is useful. Otherwise, it looks good to me.

[2019-04-02 17:46] joustava opened #21 "didEndDraggingOverlay is called after a moveOverlay call"
This is not a bug and intentional I'd guess, but what do you think about separating 'dragging' and calling moveOverlay callbacks, e.g something similar to
[code]
The above would be the original callback but only called when a user actually drags.
[code]
The above would be an additional callback but only called after moveOverlay call has finished?

Thoughts?

[2019-04-04 02:52] Minsoo-kim92 commented on #19
Should close this issue i think, because completion was merged

[2019-04-04 03:05] Minsoo-kim92 opened #22 "Overlay container on all other ViewController"
I want to overlays the OverlayContainer even the top view controller was changed ( ex: push
 or pop a new view controller from origin view controller which has created OverlayContainer)

btw, I can implement the function just manually pass the OverlayContainer view controller to destination view controller and if destination view controller has the OverlayContainer and just add to self view, it is

[2019-04-04 03:50] #22 closed

[2019-04-04 12:39] gaetanzanella commented on #19
1.3.0 is out

[2019-04-04 12:39] #19 closed

[2019-04-04 14:24] alexsteinerde opened #23 "Wrong container Inset"
I added a UINavigationController to the BackdropExampleViewController:
[code]
Now there is space on top of the navigation bar when I let the swipe to the maximum state. When I drag it there it is fixed.
![IMG_A0B96DA1203E-1](https://user-images.githubusercontent.com/5408221/55563016-68fe8e00-56f5-11e9-98b5-e57cdada7dc6.jpeg)

I already tried setting `automaticallyAdjustsScrollViewInsets = false` o

[2019-04-04 18:00] diegogarciar opened #24 "addChild not recognized"
Hi,
I just upgraded from 1.1.2 to 1.3.0 and the extension
`func addChild(_ child: UIViewController, in containerView: UIView) `
was not recognized by my app, suggesting me to use UIKit's addChild(). I checked the code differences and the only difference I could find was the that in 1.1.2 the methods are marked as public. Even tough XCode says public is redundant.
I cleaned the app and still had to

[2019-04-05 02:27] Minsoo-kim92 commented on #24
Because the extension function's scope was changed to private in this [commit](https://github.com/applidium/ADOverlayContainer/commit/c8d65bcb0216af1a117b4cce6af5218b84e9c263)

[2019-04-05 03:03] #24 closed

[2019-04-05 07:42] gaetanzanella commented on #23
Hi @alexsteinerde,

I tried to add a `UINavigationController ` in the backdrop example and the layout was fine. I guess you added constraints relative to the top safe area.

Could you be more specific ? Which device did you use ? What change did you make ?

[2019-04-05 18:50] johnwiseheart opened #25 "navigation preferLargeTitles breaks layout constraints"
Hello there,

For starters, this project is great and I have been enjoying using it. I am running into an issue because I'm using a navigation controller with large titles. This creates a constraint error:

[code]

This can be replicated on the example repo by setting the target to ios11, and then adding this code to `AppDelegate` to setup a basic navigation controller.

[code]

Not sure if theres

[2019-04-06 21:44] timroesner opened #26 "removeChild not accessible due to internal protection"
I saw that in version 1.3 you added the extension snippet to the read me setup. In version 1.1.1 this was previously accessible and used by us. Any particular reason why this extension is not exposed anymore? https://github.com/applidium/ADOverlayContainer/blob/c8d65bcb0216af1a117b4cce6af5218b84e9c263/Source/Classes/Internal/Extensions/UIViewController%2BChildren.swift

[2019-04-08 07:19] gaetanzanella commented on #26
Hi @timroesner, thanks for the feedback.

As I explained [here](https://github.com/applidium/ADOverlayContainer/commit/c8d65bcb0216af1a117b4cce6af5218b84e9c263#diff-1412df892081e7060e39d200f596cb95), I expected most of the clients to alright have their own extension to easily manage `UIViewController` children. Such an extension could be used everywhere and would conflict with the library's extens

[2019-04-08 08:00] gaetanzanella commented on #25
Hi @johnwiseheart, thanks for the feedback !

There is a conflict with the safe area. If you replace:
[code]
With:
[code]
The error disappears.

I use `safeAreaLayoutGuide.topAnchor` to correctly lay out the `SearchViewController` in the `ShortcutsLikeViewController` example without modifying the constraints when the container moves from a `StackViewController` to a `UISplitViewController`. As exp

[2019-04-08 18:26] timroesner commented on #26
Thanks that was really helpful.

Unfortunately we don't have such extensions in our project just yet, and your implementation also depends on pinToSuperview, which is why we'll stick with 1.1.1 as they are already exposed there

[2019-04-08 18:26] #26 closed

[2019-04-11 09:12] #23 closed

[2019-04-11 09:12] gaetanzanella commented on #21
Hi @joustava, could you provide an use case of your proposal ?

[2019-04-11 09:53] joustava commented on #21
I don't have a real use-case at the moment. I just noticed that `didEndDraggingOverlay` is called for when a user actually drags the overlay **and also** when I'd just trigger the `moveOverlay` from code.  This last confused me a little as I wasn't expecting `didEndDraggingOverlay` to be called when a user doesn't drag and the `moveOverlay` would be called to e.g dismiss the overlay after tapping

[2019-04-11 10:07] gaetanzanella commented on #21
I'm working on OverlayContainer 2.0. Showing/hiding should be easier, thanks to the method `canReachNotchAt`. Would you like to try it ?

[2019-04-11 10:15] gaetanzanella commented on #21
https://github.com/applidium/ADOverlayContainer/tree/feature/overlayContainerV2

[2019-04-11 15:35] gaetanzanella commented on #21
I released 2.0.0, try it directly 🙂

[2019-04-11 15:46] gaetanzanella commented on #24
Hi @Minsoo-kim92, `OverlayContainer` 2.0.0 is out. `addChild(_:,in:)` is not necessary any more.

[2019-04-15 14:04] joustava commented on #21
Just managed to update to 2.0. Works like a charm. Thanks!

[2019-04-15 14:04] #21 closed

[2019-04-15 14:05] gaetanzanella commented on #26
Hi @timroesner, OverlayContainer 2.0.0 is out. addChild(_:,in:) should not necessary any more.

[2019-04-19 09:49] #25 closed

[2019-05-02 05:19] eligat opened #27 "Latest stable Cocoapods version 1.6.1 fails to parse swift_versions option"
If a Podfile specifies ADOverlayContainer dependency by commit like so:
`pod 'OverlayContainer', :git => 'https://github.com/applidium/ADOverlayContainer.git', :commit => '570dc63ca719db8f98bf46ea726d228a3204ed3d'`

Then command `pod install` fails:
[code]

And this issue on CocoaPods github page tells that `swift_versions` option will only be available when 1.7.0 is released: https://github.com/C

[2019-05-03 18:07] gaetanzanella commented on #27
Hi @eligat,

I definitely should use the last stable cocoapods version. Thanks for pointing me that. 2.0.1 is out !

[2019-05-05 05:13] #27 closed

[2019-05-20 07:30] Kohdepitcher opened #28 "Bottom of Rigid layout panel moves above bottom of screen when dragging, is there a way to stop this?"
Hello, really liking the library so far as it feels more responsive than other libraries and feels like apple’s own floating panel.

I just have a quick question about the ridged style. Is there a way to stop the bottom of the overlay container from moving higher than the bottom of the screen as the user drags. I’ve tried using the flexible style for my layout but the overlay controller squishes m

[2019-05-20 08:35] gaetanzanella commented on #28
Hi @Kohdepitcher, thanks for the feedback.

You can add a view controller to cover the gap:

[code]
Or wrap your overlay VC inside a view controller which keeps its wrapped child height constant and use the flexible style.

I agree. These solutions are not great. I think a new style `.expendableHeight` would be better. I will take a look at it or feel free to contribute 🙂.

[2019-05-20 12:31] Kohdepitcher commented on #28
Hey little quick update, Im not sure exactly how frameworks work as Ive never played with the code in them. If you make a change in the ADOverlayContainer and then build the example project, does that change flow into the example app. If it does, I only modified a single bit of code and the panel sticks to the bottom of the screen regardless of flexible height or rigid style.

In OverlayContainerV

[2019-05-20 18:03] gaetanzanella commented on #28
That's not that simple. There are two views: translation view & container view. Container view contains the overlay, the other one moves alongside the translation. The style defines how the container is embedded inside the translation view.

I think you should use greater than & bottom constraints for the new style to work correctly.

[2019-05-21 03:43] Kohdepitcher commented on #28
Yeah you are right. My little hot fix only works if the view controller inside the overall controller has a scroll view of some sort. It worked fine in your sample project but as soon as I tried the same thing in my own project the panel still lifted above the bottom of the screen. Im guessing that why it works for a scroll view based VC is that it can show more content when dragging up further th

[2019-05-21 07:47] gaetanzanella commented on #28
Here is the new style https://github.com/applidium/ADOverlayContainer/tree/feature/expandableHeight. Could you try it ? :)

[2019-05-21 08:13] Kohdepitcher commented on #28
Well the expandable height almost works. The VC in the overlay controller is attached to the bottom of the screen but the bottom of the VC is below the screen.

expandable height type
![IMG_1850](https://user-images.githubusercontent.com/15321325/58079105-9e9efe00-7bf3-11e9-8233-ec5494faa987.png)

and what it should look like at full height, this was captured using the rigid style
![IMG_1849](http

[2019-05-21 08:36] gaetanzanella commented on #28
Just to be sure, in the two screenshots, the overlay is at the highest notch and the only difference is the overlay container's style ?

[2019-05-21 08:42] Kohdepitcher commented on #28
Yeah the only difference is the style

[2019-05-21 09:48] gaetanzanella commented on #28
Mh, weird. Could you send me a sample code or something to reproduce the error?

[2019-05-22 09:52] gaetanzanella commented on #28
@Kohdepitcher do you pin the overlay's view relatively to the safe area ? You should not, see https://github.com/applidium/ADOverlayContainer#safe-area

[2019-05-27 09:56] #28 closed

[2019-05-28 08:09] Kohdepitcher commented on #28
Hey sorry for taking so long to get back, I tried the update in a fresh project and it does work. https://drive.google.com/drive/folders/1TIp7_ea9tB6ctbTf0sXl0ZDQc6ESsTyD?usp=sharing

And I only used the pin to superview extension that you wrote to pin the overlay controller to the view controller's super view.

Only thing I noticed that the stack view grows in height as the panel is dragged furth

[2019-05-28 08:29] gaetanzanella opened #29 "3.0.0 release"
3.0.0 will provide:

- [x] A new style `expandableHeight`
- [x] A fix when multiple `OverlayContainer` track the same scroll
- [x] A better state invalidation management
- [x] A new translation animation controller without spring behavior
- [x] New delegate API fully tested

[2019-06-04 17:07] gaetanzanella commented on #28
I will take a look. Thanks @Kohdepitcher!

[2019-06-17 14:03] irlennard opened #30 "First tap in UITableView after dragging up or down is ignored"
I have found an issue where if your overlay view controller contains a table view and drives the swipe up/down, after the up/down animation is complete (after `overlayContainerViewController(containerViewController: _, willTranslateOverlay: _, transitionCoordinator: _)`) the first tap on the table view doesn't register. You need to tap again. You can also see that the scroll indicator stays visibl

[2019-06-17 15:24] gaetanzanella commented on #30
I'm working on it but I did not found a solution yet. Overriding the content offset of a UITableView creates a conflit with its internal gesture management.

Fun fact, it is also visible in the native Maps app.

![ezgif com-resize (3)](https://user-images.githubusercontent.com/27817228/59616195-3ffe6e80-9124-11e9-825c-57512516ff6f.gif)

[2019-06-18 07:34] irlennard commented on #30
Ok, thanks for the info!

[2019-06-18 12:03] gaetanzanella commented on #30
For the scroll indicator, you can hide it each time the container is dragged

[code]

[2019-07-01 19:46] zimmermannubique opened #31 "Stopping at top"
In the MapsLikeViewController-Example with an iPhone 6S and changing the notch heights to
[code]
the scrolling of the tableview is not followed through, it stops at the top notch and the tableview does not begin to scroll. First rounding the notch values (or cast to Int and back to CGFloat) solves the problem.

[Untitled.mov.zip](https://github.com/applidium/ADOverlayContainer/files/3347103/Untitl

[2019-07-02 11:52] gaetanzanella commented on #31
Thanks for the issue @zimmermannubique ! There was a serious issue on how values were rounded. It should be fixed in 3.0.1.

[2019-07-02 16:40] #31 closed

[2019-07-03 10:13] #29 closed

[2019-07-30 22:41] arishanapalli opened #32 "Search Field not enable"
The search field is not enable!
Unable to enter any text inside searchBar.

One more In cocoacontrols its says objective-C but the project build in swift.

[2019-07-31 08:56] gaetanzanella commented on #32
Where? In which searchbar?

[2019-08-12 02:01] karlshea opened #33 "Corner radius?"
I'm having a hard time figuring out where to make the overlay controller have a corner radius. Can you point me in the right direction?

[2019-08-12 02:03] karlshea commented on #33
Good lord of course I figured it out seconds after I posted. Never mind!

[2019-08-12 02:03] #33 closed

[2019-08-13 06:49] RodBrown1988 commented on #32
I think @arishanapalli may be referring to the sample code that's associated with the project has a search field in the UI but it is not selectable/editable. This is because the "DetailHeaderView.xib" file has the checkbox for the search bar's "User Interaction Enabled" state to `false` which will ensure it doesn't receive touches. This confused me a bit when I started working with it.

Enabling t

[2019-08-13 15:01] gaetanzanella commented on #32
Thanks @RodBrown1988. You're right. I close this issue because it's an intentional choice.

[2019-08-13 15:01] #32 closed

[2019-08-20 22:55] gorkemg opened #35 "Subclass OverlayContainerViewController?"
Currently it is not possible to subclass OverlayContainerViewController, afaik.
Xcode error message: "Cannot inherit from non-open class 'OverlayContainerViewController' outside of its defining module"
This is probably due to OverlayContainerViewController being "public" and not "open". Open exists since Swift 3 and allows a class or function to be subclassed or overridden outside the current modu

[2019-08-22 08:19] gaetanzanella commented on #35
It's an intentional choice. As you can see in the examples, composition is used rather than subclassing: a parent VC embeds the overlay container.
Which customisations have you in mind?

[2019-08-22 09:40] gorkemg commented on #35
I have a transit app and like in Apple Maps, I'd like to display multiple overlays if the user selects stops or buses on the map.
Through subclassing, I can simply prepare multiple OverlayContainer classes that will look different for a stop or bus and use them in all of my existing ViewControllers by doing the following:
`
let stopOverlay = StopOverlayViewController()
stopOverlay.stop = annotiati

[2019-08-22 15:52] gaetanzanella commented on #35
`StopOverlayViewController` could be a simple `UIViewController` and a parent of a `OverlayContainer` right?

[2019-08-24 13:45] gorkemg commented on #35
I tried that, but the UIViewController doesn't let touches through. Therefore, I can't move the map behind. So I would have to handle that. That would probably not be a big issue, however, it feels hacky and subclassing seems the right way to go, imho.

[2019-08-26 08:29] gaetanzanella commented on #35
Yes, you should use a `PassThroughView` as a root view of your view controller.

In conclusion, I don't see subclassing as required to respond to your need. You're not overriding an overlay container specific behaviour, just looking for a way to encapsulate your custom logic. I think composition is the right way to go. Even if it may seem inconvenient at first, your overlay container implementatio

[2019-08-26 08:29] #35 closed

[2019-08-28 03:47] marktrobinson opened #36 "Is there a way to define the starting notch position?"
Is there a way for me to specify that i want the OverlayContainerViewController to begin at notch position x e.g. if i have 3 notches, min, med, max - can i specify that i want it to start at the med notch and not the min?

Awesome library by the way!

[2019-08-28 07:20] gaetanzanella commented on #36
Sure, does calling `moveOverlay(toNotchAt:)` in `viewDidLoad` do the trick?

[2019-08-30 02:06] marktrobinson commented on #36
Works like a charm! Cheers @gaetanzanella

[2019-08-30 02:06] #36 closed

[2019-09-16 00:17] saltbieb opened #37 "Multiple Overlay with different notches?"
Hi,

is it possible to add multiple overlays which are nested? So I've got a background layer, a first overlay layer, and a second overlay with the special condition that the second overlay has **not** the full height of the first overlay layer and its max height is limited to 2/3 of the height of the first overlay.

I've created an image to illustrate it.

![description_notches](https://user-imag

[2019-09-17 08:10] petrovRV opened #38 "Bug with tableView"
After table view scrolled user can't select table item, user must to make double click on item, do you know how I can fix it?
https://youtu.be/TXUkxCBuoG8

[2019-09-17 11:43] gaetanzanella commented on #38
Hi, please see #30
Unfortunately the issue is still open.

[2019-09-17 11:43] #38 closed

[2019-09-17 17:07] gaetanzanella commented on #37
Hi @saltbieb,

I've never tried it but I guess you can compose multiple overlay containers. Something like:
[code]
Does it work?

[2019-09-18 15:01] sfla opened #39 "Drawer not responding to scroll in contained scrollView when in navigationController?"
I've stumbled on an issue where the drawer won't accept scrolling at all. I first discovered this because I'm trying to make this work with a CollectionView instead of a TableView, but I manage to reproduce it with tableView as well.

Reproduce:
Open the OverlayContainer_Example-project
• AppDelegate:18, change to `window?.rootViewController = ModalNavigationViewController()`
• SearchViewControlle

[2019-09-20 14:45] gaetanzanella commented on #39
Hi @sfla, thanks for the issue, I never thought about that case. I'll take a look.

I guess the issue comes from the collectionView unique behavior : it doesn't scroll if its frame is larger than its content. So you're right, didScroll is not called and the overlay doesn't move. Try to set 'alwaysBounceVertical = true'.

[2019-09-23 07:08] sfla commented on #39
Excellent! `alwaysBounceVertical = true` worked perfectly:) Thank you!
Supporting `bounces=false` is not necessary for me, just used it to reproduce the same behaviour:) You could re-open the issue if you want to keep it for that, but **my** problem is solved:)

[2019-09-23 07:08] #39 closed

[2019-10-01 23:30] seljabali opened #40 "MapsLikeViewController using SnapKit"
Hello,

First off thank you so much for this awesome library. It looks great! 😃

I've been trying to replicate the `MapsLikeViewController.swift` [page](https://github.com/applidium/OverlayContainer/blob/master/Example/OverlayContainer_Example/Maps/MapsLikeViewController.swift) using SnapKit instead of storyboards. I got close however touches of map don't go through since the overlay container cap

[2019-10-02 06:53] gaetanzanella commented on #40
Hi!

First of all PassThroughView is public, so you don't need to copy it.

Note that a touch passes though a `PassThoughView` but it won't go further if this latter is inside a regular view.
I see things like:
[code]
Try to use `PassThroughView` everywhere:
[code]
Furthermore, try to use the same VC hierarchy as the example.

[2019-10-02 13:04] sfla opened #41 "Duration of animation for moveOverlay"
This is more of a request for help than an issue, I guess, but I can't figure out how to set the duration of the animation when calling `moveOverlay(toNotchAt:,animated:)`. I even considered importing the entire OverlayContainer as classes instead of a pod so I could manipulate it if it was private, but I can't find a duration anywhere, just velocity and advanced animation protocols.
It would be n

[2019-10-02 18:53] seljabali commented on #40
Thank you @gaetanzanella. Your suggestions were spot on & got them fixed! Have a great day sir!

[2019-10-02 18:53] #40 closed

[2019-10-03 07:17] gaetanzanella commented on #41
Hi @sfla, the overlay container CV will use the `OverlayAnimatedTransitioning` provided by its delegate to animate a translation ([ref](https://github.com/applidium/OverlayContainer#custom-translation-animations)). You can provide your own object to modify the animation implementing:
[code]
Note that by default the container uses the `SpringOverlayTranslationAnimationController` which uses this `U

[2019-10-03 07:19] #37 closed

[2019-10-03 07:43] sfla commented on #41
Great! Thanks. I haven't used (animateAlongside:) with transitionCoordinator and context etc. that much in the past, so I'll look into it. The challenge is that I want it the other way around; to make the overlay animate alongside another animation.

[2019-10-03 07:49] gaetanzanella commented on #41
You can try to move the overlay without animation and call `layoutIfNeeded` on any view that contains it.  Something like:
[code]

[2019-10-03 07:56] sfla commented on #41
Oh man. I tried that yesterday, but didn't include the `layoutIfNeeded()`, Thanks!

[2019-10-03 07:56] #41 closed

[2019-10-09 10:49] gaetanzanella commented on #30
It seems to be fixed in iOS 13. I guess they changed the `UIScrollView` implementation.

[2019-10-09 10:49] #30 closed

[2019-10-11 00:36] saltbieb commented on #37
Hey @gaetanzanella,

thank you for your fast response. Unfortunately I didn't had the time to test it directly. Now I've managed it and it's working with your solution!

Thank you for your help.

[2019-10-13 01:00] johannesd opened #42 "Animation jumps when touching overlay during animation (BackdropExampleViewController)"
Hi,
I'm trying to animate other views in sync with the overlay transition. The BackdropExampleViewController example comes very close to what I want to do.

Everything works fine, but when I slide up the overlay, and then quickly slide it down again (before the slide-up animation has completed), the background transparency "jumps" a bit.

I've attached a video. It looks subtle here, but it becomes

[2019-10-15 07:55] gaetanzanella commented on #42
Hi @johannesd,
I don't see the "jumps" in the example. Note that the `alpha` of the backdropVC's view changes from 0 to 1 but the color is :
```view.backgroundColor = UIColor.init(white: 0, alpha: 0.5)```
So it actually changes from 0 to 0.5 only.
You can print the `translationProgress` in the transitionCoordinator to look for an issue:
[code]
Do you see something wrong?

[2019-10-15 14:46] Said13 opened #43 "Scrollview not driving overlay after you scrolled down and scrolled to top."
Scrollview not driving overlay after you scrolled down and scrolled to top.

[2019-10-15 14:51] Said13 opened #44 "overlay driving progress delegate"
It would be nice to have progress delegate

[2019-10-15 15:03] gaetanzanella commented on #43
It looks fine in the example. Please provide something to prove it.

[2019-10-15 15:03] gaetanzanella commented on #44
Please read the readme

[2019-10-15 15:03] #44 closed

[2019-10-15 15:35] Said13 commented on #43
Yeah, in the example it works fine. I recorded video, could you give me your email so I can send it to you?

[2019-10-15 16:09] gaetanzanella commented on #43
You can add the video to the issue. But here is my email gaetan.zanella@fabernovel.com.

[2019-10-15 18:19] johannesd commented on #42
Thanks for your reply! Hm, the numbers are correct, but I observe that the view is not updating property. I tried to make the example more obvious, but now it seems like the problem in my actual code is something else. What I want to do is adding an animation that is not linear to the overlay's movement: Some buttons in the map should fade out when the overlay is in maximized position (because the

[2019-10-16 07:54] gaetanzanella commented on #42
I see, I would try to add my own animation overriding the duration or the curve of the translation with those animation options:
[code]
like so:
[code]
Does it do the trick?

[2019-10-16 15:38] johannesd commented on #42
After thinking more about it, I think a keyframe animation would be the right thing here.

[code]

This works for the dragging part, but when the completion animations runs (after dropping the overlay), the keyframe animation seems to run independently from the overlay animation. Do you know how to sync those?

Best,
Johannes

[2019-10-28 17:04] sfla opened #47 "Unable to subclass OverlayContainerViewController. Everything is public, not open"
This is more a question than an issue, sorry if it's not the right place, but I am experimenting with the container and found the need to retain some additional information/data within the container. I would like to subclass the OverlayContainerViewController (e.g `class MyCustomContainerViewController:OverlayContainerViewController`) and add my data there, as well as it would give me the opportun

[2019-10-29 14:14] gaetanzanella commented on #47
See  https://github.com/applidium/OverlayContainer/issues/35

But if you make a PR, I will consider it.

[2019-10-30 08:53] #47 closed

[2019-11-04 15:05] Said13 commented on #43
Fixed it by setting on

 and

[2019-11-04 15:23] gaetanzanella commented on #43
Good to know ! 👍

[2019-11-04 16:14] Said13 opened #48 "scrollViewDrivingOverlay for multiple child views"
I have controller with multiple controllers. And I have scrollView in every child controller.

I need to call
[code]
 func every time I change visible child view.
How can I solve it?

[2019-11-04 16:16] Said13 commented on #48
I tried like this but this func only calls once.
[code]

[2019-11-04 16:55] gaetanzanella commented on #48
Use the drivingScrollView property instead:
```containerController.drivingScrollView = myScrollView```

[2019-11-06 08:34] #48 closed

[2019-11-08 07:11] denisPoifol opened #49 "OverlayViewController is not layout before animation when set before moveOverlay(toNotchAt:animated:)"
When setting the viewControllers property just before animating appearance of the overlay  :
[code]
We end up with the overlayViewcontroller being animated in its height like it should, but also in its width because its view did not layout properly before the begining of the animation.

I could make this work by forcing the layout of the superview of the overlayViewController, but it is a hacky so

[2019-11-09 17:49] pabsanmez commented on #41
Thank you! :) This has saved my day :)!
BTW @gaetanzanella this library is really really awesome! Thank you for putting so much effort on it and let the others use it :)

[2019-11-10 22:55] galexite opened #50 "`willTranslateOverlay:` isn't being called after the user stops dragging"
I'm trying to fade away views when the user drags the overlay or when the overlay is travelling between notches, but `willTranslateOverlay:` doesn't appear to be called on the delegate when the user has let go of the overlay and the overlay starts travelling automatically to the nearest notch.

[2019-11-12 09:36] gaetanzanella commented on #50
`willTranslateOverlay` is called whenever the overlay view controller is about to be translated. The translation can be animated or not. In the first case, `willTranslateOverlay` is called only once before the translation.  Do you confirm this behavior?

[2019-11-12 13:09] galexite commented on #50
Sorry, my mistake! I must have misunderstood the documentation for that method. Yes, it is correctly only called when the animation is to begin.

Thanks!

[2019-11-12 13:09] #50 closed

[2019-11-22 12:11] sfla opened #51 "When DrivingScrollView has bounces=false, the overlay does not respond"
When using a normal overlay without a drivingScrollView, and you try to drag it too far up, it has this nice dampening effect on the entire overlay (it lets you drag it a few pixels, then bounces back). I wanted to replicate this with a tableView as content, but when dragging it too far top, the overlay stays the same (max notch) and the tableView scrolls out of bounds and bounces back. I thought

[2019-11-25 08:48] attilaroy opened #52 "Rigid issue"
"let overlayContainer = OverlayContainerViewController(style: .rigid)" - This feature is not working for me.

[2019-11-25 08:50] #52 closed

[2019-11-25 15:25] gaetanzanella commented on #51
Is the content bigger than the table view's bounds?

I don't understand exactly what you want. Can you provide a video or something?

[2019-11-27 10:51] sfla commented on #51
The left device is just a normal UIViewController in a container. When dragging it to the top notch and beyond the top, it grows slightly.

The center device is the example from your project (but with 10 elements). It has a drivingScrollView (tableView). When scrolling to the top and beyond, it simply bounces the content of the drivingScrollView. What I expect is for the entire container to bounce

[2019-11-27 11:03] sfla opened #53 "Is there a way to animate the OverlayContainer alongside another animation?"
I've seen the examples/comments for how to animate another object alongside the animation of the OverlayContainer, e.g fade in backdrop based on the height of the drawer. But is there a way to animate the height of the drawer based on another animation?

In my case, I have a UINavigationController in the container, and when I navigate from one view to another (inside the container), the origin- an

[2019-11-28 09:48] gaetanzanella commented on #53
I guess https://github.com/applidium/OverlayContainer/issues/41#issuecomment-537830419 did not work. Why? If the containers haven't the same notches heights, you could create fake ones and disable/enable them right before the animation.

[2019-11-28 11:50] gaetanzanella commented on #51
Thanks for the detailed answer!

In ordre to avoid conflicts, the scroll view's pan gesture will always override the one attached to the view. Does setting `isScrollEnabled = false` do the trick?

[2019-11-29 14:42] sfla commented on #53
Because it's not an interruptible animation, I guess?

[code]

If I start swiping back in my contained navigationController, the overlay will instantly snap to the targetNotch. But the backgroundColor is smoothly animating back and forth between white and green if I keep swiping.

[2019-12-03 09:57] gaetanzanella commented on #53
Is `self.view` an ancestor of the overlay container's view?

It should work. Could you provide a sample code? Your case looks interesting.

[2019-12-18 08:23] #51 closed

[2019-12-18 08:23] #53 closed

[2020-01-13 15:32] aabdellah opened #55 "Page sheet dismiss gesture conflict with driving scroll view"
When scrolling down any scroll view in the overlay in view controllers presented using page sheet modal presentation style, the view controller is interactively dismissed.

Page sheet should not be dismissed when scrolling the driving scroll view down. But it could be enabled for other other areas outside the overlay controller.

[2020-01-13 15:39] gaetanzanella commented on #55
Hi @aabdellah, in iOS 13?

Does disabling the _drag to dismiss_  gesture do the trick?

```viewController.isModalInPresentation = true```

[2020-01-13 15:48] aabdellah commented on #55
Tried that on the child controller and it still dismisses it, when adding it to the parent view controller there're some glitches when scrolling and it disables the entire swipe gesture.
The workaround that I'm using now is adding a `UIRefershControl` to the driving scroll view. Because the driving scroll view moves with the overlay, the refresh control never shows. Not ideal but that's how I deal

[2020-01-15 13:45] gaetanzanella commented on #55
Using the `UIRefreshControl` is a good workaround for tableViews. Not ideal of course. But it should work for a moment. The sheet presentation's implementation seems to be deep inside the `UIScrollView` itself. I will look a bit more soon but it looks like the only way is to create your own sheet presentation.

[2020-01-15 19:24] opchronatron opened #56 "Missing param in willEndDraggingOverlay delegate call"
In an older version, you used to pass the transitionCoordinator. I use this to match animations when the overlay is animating to a notch. Your comments still reference the transitionCoordinator but it is missing in the call function see below.

   /// Tells the delegate when the user finishs dragging the overlay view controller with the specified velocity.
    ///
    /// - parameter containerView

[2020-01-16 08:15] gaetanzanella commented on #56
Hi @opchronatron, thanks for pointing me this issue in the comments.

Use `willTranslateOverlay` instead.
[code]

[2020-01-20 09:38] #56 closed

[2020-01-28 17:05] alexjameslittle opened #57 "Support for top to bottom overlay"
Would it be possible to support drag down overlay view with this library. I managed to achieve the desired effect by flipping the transform however as expected the pan gesture would need to be adjusted too

Do you have plans to support this?

[2020-01-29 08:49] gaetanzanella commented on #57
hi @alexjameslittle,  "drag down overlay", what do you mean?

[2020-01-29 08:51] alexjameslittle commented on #57
@gaetanzanella Where the drawer is at the top and you can drag the drawer down. Basically an inverted use of the Apple maps drawer. The minimised view will sit at the top of the screen and when expanded will animate down.

[2020-01-29 17:16] gaetanzanella commented on #57
And how would the scroll view behave in such scenario?

[2020-01-30 12:08] alexjameslittle commented on #57
It would drive the closing of the view based on scrolling to the bottom of the scroll view

[2020-02-03 02:20] lexuanquynh opened #58 "need move view to bottom with button"

[2020-02-03 08:47] gaetanzanella commented on #58
Please, provide a better description

[2020-02-03 08:47] #58 closed

[2020-02-05 08:43] lexuanquynh commented on #58
I want to move view down or up with two buttons up and down. without use figger. has the library support that? sorry if I make a stupid question?

[2020-02-05 10:54] gaetanzanella commented on #58
Use `moveOverlay(toNotch:)` and disable user interactions.

[2020-02-05 20:09] bryan1anderson opened #59 "Can you present multiple controllers over each other?"
I need the ability to click on a cell in the container, and then have another container or view controller appear on top of that. I have run into issues doing with this other similar libraries so I built my own, but 2 years in and I think its time to consider other solutions

Perhaps project is the answer

[2020-02-06 08:54] gaetanzanella commented on #59
See this [link](https://github.com/applidium/OverlayContainer#multiple-overlays). Is it what you're looking for?

[2020-02-06 15:45] bryan1anderson commented on #59
Yes thank you. That is what I would need. I'll look over it to see how well I can use this!

[2020-02-06 15:45] #59 closed

[2020-02-20 14:01] ramunasjurgilas opened #60 "SwiftUI support needed!"
Would be very good to have SwiftUI support.

[2020-02-20 15:41] gaetanzanella commented on #60
I thought a bit about it. SwitUI does not provide accessors to the UIKit components used under the hood. So you won't be able to set a driving scroll view for example.

What could the API look like?

[2020-02-20 16:39] ramunasjurgilas commented on #60
I do not know how it could look. My self needs to investigate around this.

[2020-03-30 17:45] #49 closed

[2020-04-28 03:57] zhoujun706 opened #63 "How to get the current container notch"
as title

[2020-04-28 03:57] zhoujun706 commented on #63
or notch index

[2020-04-28 04:09] zhoujun706 commented on #63
the delegate function just can get after notch index, i want to get the index before change

[2020-04-28 06:59] gaetanzanella commented on #63
Please read the README https://github.com/applidium/OverlayContainer#tracking-the-overlay
[code]

[2020-04-28 07:38] #63 closed

[2020-04-28 09:26] zhoujun706 commented on #63
this function index is toNotch , i want current notch, how can i get this like containerControlloer.currentNotchIndex

[2020-04-28 09:28] zhoujun706 commented on #63
I just use moveOverlay() function, but i want recorde the notchindex before move

[2020-04-28 09:28] zhoujun706 commented on #63
thankyou

[2020-04-28 12:35] gaetanzanella commented on #63
You have to track the current index yourself:
[code]

[2020-04-28 12:54] zhoujun706 commented on #63
thanks for your reply.

I will draw a picture for you tomorrow, then you will understand . Today is too late
thanks again

[2020-04-29 02:29] zhoujun706 commented on #63
Hello , please see this:
![截屏2020-04-29 10 27 25](https://user-images.githubusercontent.com/4391944/80555883-3b713a80-8a04-11ea-897c-cc257b7b5875.png)
thank you

[2020-04-29 07:34] gaetanzanella commented on #63
I don't understand… since your overlay moved to the top, you should have a callback. I don't see it on your image.

[2020-04-29 10:05] zhoujun706 commented on #63
For example, the KVO can get old value and new value.
And now the OverlayContainerViewControllerDelegate function just can get the new value(index),
I want the old value(index) .

Thank you : )

[2020-04-29 14:47] gaetanzanella commented on #63
If you do https://github.com/applidium/OverlayContainer/issues/63#issuecomment-620578139, `lastNotchReached` will correspond to the previous notch index

[2020-04-30 01:48] zhoujun706 commented on #63
All right, thank you .
I solve the problem as you say, but I define a property to recorde can or not update last index.
Thank you

[2020-05-01 14:07] DorenBoust opened #64 "ConcreteOverlayContainerDismissalPolicyContext Errors"
Hi
way i got those errors?
(i installed with swift packages)

thanks
![image](https://user-images.githubusercontent.com/29662366/80811167-0284c180-8bce-11ea-9e0a-d5c6f52c9ffd.png)

[2020-05-01 18:53] gaetanzanella commented on #64
Hi @DorenBoust, thanks for the issue!
A ```import UIKit``` is missing.
3.5 is still in beta, I have to fix the CI before releasing it (to detect such errors…).
Use the version 3.4.1 instead!

[2020-05-10 09:59] gaetanzanella commented on #64
Fix in 3.5.0-beta.3

[2020-05-10 09:59] #64 closed

[2020-05-26 17:13] bryan1anderson opened #66 "Is there a way to place a view on top of the overlay?"
I've been trying to place a floating action button that remains at the bottom of the screen no matter what overlay is presented, but I'm having a hard time figuring out the architecture required to do so. Is there any built in or suggested means of doing this?

[2020-05-27 11:29] gaetanzanella commented on #66
If your overlay controller uses the `flexibleHeight` style (so if you havent a table view or a collection view), you can add the button right inside the overlay controller view hierarchy.

With the other styles, the button will move alongside the overlay motions. You can adjust it thanks to the container delegate callbacks. But you can also decide to create a container containing the overlay conta

[2020-05-27 14:29] #66 closed

[2020-05-27 15:13] GRiMe2D opened #67 "`OverlayContainerSheetPresentationController` doesn't update view frame when device is rotated"
**Describe the bug**
`OverlayContainerSheetPresentationController` doesn't respect device orientation changes and doesn't update the presented view controller's view

**Expected behavior**
`OverlayContainerSheetPresentationController` will update its content view within the device rotation animation

**Screenshots, videos or sample codes**
[video demo.mp4.zip](https://github.com/applidium/OverlayC

[2020-05-28 08:39] GRiMe2D commented on #67
Seems the problem is more related with `OverlayContainerViewController` itself.

Because, I've tried to present `OverlayContainerViewController` without any presentation controller, and it reproduced the same bug (when used with `modalPresentationStyle = .overCurrentContext`), but it is presented modally (default values) it resizes well

[2020-05-29 15:41] gaetanzanella commented on #67
That's interesting! Thanks.

I tried to reproduce the bug without any overlay container code:

[code]
![Simulator Screen Shot - iPad (7th generation) - 2020-05-29 at 17 27 23](https://user-images.githubusercontent.com/27817228/83276994-baa78900-a1d1-11ea-951b-a907e4e0eb12.png)

I found out the default `UIViewControllerAnimatedTransitioning` does not use constraints but an autoresizing mask. Try to

[2020-06-01 10:58] GRiMe2D commented on #67
Thanks, this fixed the issue. It seems by default `UIViewController` generates a view with `[.flexibleHeight, .flexibleWidth]` installed. I believe that's why we usually don't set autoresizing masks to the root view of the view controller.

I think we could do the same thing on `OverlayContainerViewController::loadView`. What you you think?

[2020-06-01 11:41] gaetanzanella commented on #67
You are right. My `ColoredVC` uses a custom view.
[code]
If I use a pure empty view controller instead, it works correctly.
[code]
I will change the mask in the next release. Thanks!

[2020-06-01 11:41] #67 closed

[2020-06-29 11:21] pushpendra996 opened #68 "While using ScrollView with suggested delegates then swipe down is not working."
**Describe the bug**
I have implement this library. And it's working fine until I do not use this with scrollView. When I am using scroll view inside my DetailsViewController then I am able to swipe up side. But I am not able to swipe down. May be I am doing some mistake in that. But I have follow the given instruction. Please help me out for this issue. And One more thing I would like to know. Is

[2020-06-29 11:22] pushpendra996 opened #69 "With ScrollView swipe down is not working"
**Describe the bug**
I have implement this library. And it's working fine until I do not use this with scrollView. When I am using scroll view inside my DetailsViewController then I am able to swipe up side. But I am not able to swipe down. May be I am doing some mistake in that. But I have follow the given instruction. Please help me out for this issue. And One more thing I would like to know. Is

[2020-06-29 11:25] pushpendra996 commented on #43
Thanks, It's worked for me also!

[2020-07-01 15:45] bryan1anderson opened #70 "Change the width of the overlay translation view?"
Right now on iPad I would like to use the overlay container to present view controllers over a map. The problem is that on iPad it takes up the full width of the screen, widget is totally un-needed.

I would like to set a fixed width of the overlay controller

Here is my example

![Screen Shot 2020-07-01 at 9 45 14 AM](https://user-images.githubusercontent.com/7976521/86264328-97c91580-bb7f-11ea-8

[2020-07-01 17:28] bryan1anderson commented on #70
I didn't realize this was answered with the map view example

The short answer is:

[code]

[2020-07-01 17:28] #70 closed

[2020-07-02 08:30] gaetanzanella commented on #69
Yes, that's because of the scroll view never scrolls if its content isn't bigger than its bounds. Use [alwaysBounceVertical](https://developer.apple.com/documentation/uikit/uiscrollview/1619383-alwaysbouncevertical) or the `shouldStartDraggingOverlay` delegate method.

[2020-07-02 15:17] #68 closed

[2020-07-02 15:17] #69 closed

[2020-07-14 17:39] bryan1anderson opened #71 "Gesture recognizer conflicts with UITableViewCell gesture recognizers for cell actions"
**Describe the bug**
Gesture recognizer conflicts with UITableViewCell gesture recognizers for cell actions
**Expected behavior**
I should reliably be able to swipe on a cell when it is placed in the overlaycontainer.

I pan gesture property is private so I don't have access to require it to fail to the cell swipe gestures.

How do I get swipeable tableviewcells to work using OverlayContainer?

[2020-07-15 15:18] hberenger commented on #71
I had exactly the same issue as yours: it was not possible to open the the Swipe Actions of a tableview embedded in an `OverlayContainer`, below the overlay view controller.

It seems that, as you mention, there is a conflict between the tableview gesture recognizers and the `OverlayTranslationGestureRecognizer` defined by the **OverlayContainer** library (subclass of `UIPanGestureRecognizer`).
It

[2020-07-15 20:12] bryan1anderson commented on #71
@hberenger So this allowed you to use the tableview actions?

@gaetanzanella I'm always afraid of claiming delegate ownership to gestures as that can cause problems if it relies on it somehow. Do you have any recommendations?

[2020-07-16 09:11] hberenger commented on #71
@bryan1anderson : yes, I confirm this workaround repaired the tableview swipe actions

[2020-08-05 14:23] bryan1anderson commented on #60
Could you not create some kind of delegate that simply captures the content offset? @gaetanzanella

https://medium.com/@maxnatchanon/swiftui-how-to-get-content-offset-from-scrollview-5ce1f84603ec

[2020-08-11 03:48] fanglinwei opened #72 "Memory leak"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots, videos or sample codes**
If applicable, add screenshots to help explain your problem.

**Environnement :**
 - Device: iPhoneX
 - OS: iOS 13.6
 - OverlayContainer Version 3.5.0

**Additional context**
Add any other context ab

[2020-08-11 08:33] gaetanzanella commented on #72
when do you pop your view controller?

[2020-08-11 10:45] fanglinwei commented on #72
When I clicked the system launch button pop ShowOverlayExampleViewController in the upper left corner, I found that ShowOverlayExampleViewController did not execute deinit.

[2020-08-11 10:47] fanglinwei commented on #72
My simple guess is that overlayPresentationController may cause memory leaks

[2020-08-11 16:47] gaetanzanella commented on #72
Interesting. The leak exists as soon as you call `presentationController`:

[code]

[2020-08-11 17:14] gaetanzanella commented on #72
[Here](https://github.com/applidium/OverlayContainer/compare/feature/issue_72) is a fix. I don't like it but I will release it if I do not find something better. Thanks for pointing me the issue! It is critical.

[2020-08-12 12:21] gaetanzanella commented on #71
Hi @bryan1anderson @bryan1anderson, thanks for raising the issue. [A fix](https://github.com/applidium/OverlayContainer/commit/dc8f116e3f89d7a2da0276918a00159383094a40) is available. If you return false in the `shouldStartDraggingOverlay` callback, the container pan gesture will be disabled. So you can something like:
[code]

[2020-08-18 10:39] Abdmin01 opened #73 "overlayContainerSheetPresentationControllerShouldDismissOnTap doesn't work"
I already set the overlayContainerSheetPresentationControllerShouldDismissOnTap to true and i expected when tap on the overlay view should dismiss the presented view but it doesn't dismiss.

[2020-08-27 13:03] farismhmd1 commented on #33
I'm having the same issue now. can you tell me how did you do this?

[2020-08-27 17:42] karlshea commented on #33
It looks like I fixed it in `viewDidLoad` by setting `layer.cornerRadius`.

[2020-09-08 08:59] #73 closed

[2020-09-14 15:57] bryan1anderson commented on #71
But I don't want it to be disabled. There is effectually a point on _every single_ point on the view because its just a tableview. I need them to behave together. I don't care about horizontal pans on the container view, and I don't care about vertical pans on the tableview. It seems what you're saying the fix does is just not allow panning if the touch is on a certain point. All my points need to

[2020-09-14 19:53] gaetanzanella commented on #71
I'm not sure to understand. Could you provide a sample code?

[2020-09-15 15:11] bryan1anderson commented on #71
@gaetanzanella Sorry to be unclear. Your solution doesn't support recognizing multiple gesture recognizers. Your solution seems to support only supporting `panGesture1` or `panGesture2`. I need it to recognize both of them simultaneously

For example:
If my entire view needs to be swiped on from left to right. There is no point at which I don't want the view to be swiped on. Therefore I either nee

[2020-09-28 06:19] wrightak commented on #33
I am also having a similar issue. I do something like this:

[code]

Inside HighlightedWordDetailViewController, in viewDidLoad, I do this:

[code]

Looking in the view debugger, I see that the bottom two corners are rounded, but the top two aren't. Can anyone give me some tips on how to solve this?

[2020-10-04 04:36] wrightak opened #74 "Incorrect height for navigation bar when presenting modally"
Make the changes shown here: https://github.com/wrightak/OverlayContainer/commit/9e50c5b4527be54a79a4a6bfecfb03ffe79e53be

Then run the OverlayContainer_Example, which should already be showing the ActivityControllerPresentationLikeViewController. When presenting, the navigation bar height is incorrect. I think something might be happening with safe area insets. When you swipe to different notches

[2020-10-08 07:58] gaetanzanella commented on #74
Hi @wrightak, thanks for the detailed issue. It comes from the native safe area inset update behaviour described [here](https://github.com/applidium/OverlayContainer/blob/master/README.md#safe-area).
Can you use the `.flexibleHeight` overlay container style?

[2020-10-10 06:07] wrightak commented on #74
Thanks for the kind reply. I read the section of the readme that you linked to, and found the video, but I'm still not 100% understanding what's going on. I guess I need to read more. I especially don't understand why swiping up and down changes the safe area insets. And why those insets can't be corrected before swiping.

Using `.flexibleHeight` worked for me, thank you.

[2020-11-16 08:57] pavelhiq opened #75 "Gestures conflict with an overlay's inner scroll view"
Using the overlay with the `.expandableHeight` style, I came across a scenario where I would not want to use the overlay's inner scroll view as _driving_ for the overlay. That is for two reasons:
- when in collapsed state, it should not be possible to scroll the content of the overlay's inner scroll view, and hence it cannot drive when disabled
- even when enabled, but at the same time representin

[2020-11-16 11:07] gaetanzanella commented on #75
Hi @pavelhiq! thanks for the detailed issue.

Did you try to use the `overlayContainerViewController(:shouldStartDraggingOverlay:at:in:)` method before modifying `shouldRecognizeSimultaneouslyWith`?

Did you try to set `scrollView.alwaysBounceVertical = true`?

[2020-11-16 12:13] pavelhiq commented on #75
Wow, thanks for a swift reply @gaetanzanella!

Yes, I did try that `overlayContainerViewController(:shouldStartDraggingOverlay:at:in:)` first, but with no success. Also noticed that according to the doc it is not called when an inner scroll view is involved:

Im not sure if setting `scrollView.alwaysBounceVertical = true` can help at all with scrolling disabled (also tried it).

Although I should

[2020-11-16 14:25] gaetanzanella commented on #75
Could you describe the exact scenario? I am not sure to understand what you are looking for. A sample code or a video of the problem might help.

You can reset the drivingScrollView (`container.drivingScrollView = nil`) whenever you want if you use the `drivingScrollView` property instead of the delegate method.

You said `even when enabled,`

[2020-11-16 14:30] gaetanzanella commented on #75
Your case looks interesting. I'm not surprised there might be a potential gesture conflict…
[code]
does not look like a great solution because someone might want another condition one day, right?

We should find a customizable solution instead.

[2020-11-20 17:40] gaetanzanella commented on #60
SwiftUI support is [coming](https://github.com/applidium/OverlayContainer/tree/feature/swiftUI) 🎉 .

[code]
Here is the roadmap:

- [x] Create overlay modifier
- [ ] Create overlay style modifier
- [ ] Create overlay proxy to enable overlay movements
- [ ] Create overlay observer modifiers
- [ ] Create overlay layout modifiers

[2020-12-28 08:14] FrankWuoO opened #77 "Could I know OverlayContainerViewController position whether if user dragging or automatica"

[2020-12-28 08:14] #77 closed

[2020-12-28 08:57] FrankWuoO opened #78 "Could I know overlay position changes realtime"
Hi there!
I'm trying to make interaction with other views in sync with the overlay transition and maybe is same issue with #42

Here is my implementation, I put detect point code in

[code]

It works fine with using finger to drag overlay, but when I slide up the overlay quickly or call `containerVC.moveOverlay(toNotchAt: 2, animated: true)`, it's jump a little bit.

I checked the code and found t

[2020-12-28 09:58] gaetanzanella commented on #78
Hi @FrankWuoO

The transitions can be animated. In that case, the delegate method will be called only once. You can detect them using the `OverlayContainerTransitionCoordinator.isAnimated` property.

I would move your logic to the `animate` block and use the `context.targetTranslationHeight` to know where the container will be:
[code]

[2020-12-28 10:03] FrankWuoO commented on #78
@gaetanzanella  Cool!! You save my day.
Thanks for your answer. 🙇

[2020-12-28 10:04] #78 closed

[2020-12-29 16:19] gaetanzanella commented on #60
A first beta is [available](https://github.com/faberNovel/DynamicOverlay) 🎉

[2020-12-29 16:19] #60 closed

[2020-12-29 16:25] #75 closed

[2021-07-28 12:53] gaetanzanella opened #83 "Allow multiple driving scrollviews"
`OverlayContainer` could easily manage multiple driving scroll views:

[code]

[2021-12-20 23:09] robert-koch opened #84 "MainActor Support"
**Description**
When using OverlayContainer 3.5.2 with Swift 5.5+, iOS 13+, and Xcode 13.2+, there are a number of compiler errors related to Swift actors and actor-isolation in a majority of common use cases. As an example, whenever implementing `OverlayContainerViewControllerDelegate` in a view controller, all delegate functions must be marked as `nonisolated` in order for the view controller to

[2022-01-30 14:43] gaetanzanella commented on #84
Hi @robert-koch, thanks for the issue!

I couldnt reproduce the problem. I am using Xcode 13.2.1. Could you provide a sample code?

[2022-01-30 14:43] #74 closed

[2022-02-02 10:17] robert-koch commented on #84
@gaetanzanella you know what, I never thought to check that, and you are 100% correct. I appreciate the response back. Thank you much.

[2022-02-02 10:17] #84 closed

[2022-03-04 20:55] thierrybucco opened #85 "Should have a max width"
on iPad in landscape mode it would be nice to limit width.

[2022-03-05 12:50] gaetanzanella commented on #85
Hey Thierry!

Did you take a look at the [Maps example](https://github.com/applidium/OverlayContainer/blob/master/Example/OverlayContainer_Example/Maps/MapsLikeViewController.swift)?

The max width management could be built-in, that's true but you can already easily create your own layout.

[2022-03-05 14:25] thierrybucco commented on #85
This is perfect! Thanks Gaetan.
I am closing this ticket.

[2022-03-05 14:25] #85 closed

[2022-05-06 17:40] thomasdelgado opened #87 "Question: How to expand OverlayContainer only after bouncing from bottom?"
Hello @gaetanzanella!
First of all, congratulations on such an amazing and straightforward implementation! It really helps folks that can't ditch iOS 14- support :D

I have a question: Is it possible (or how do you suggest approaching it) to make the `OverlayContainer` grow only after reaching the bottom of the `scrollView`? Currently, as soon as you start swiping up, the `OverlayContainer` starts

[2022-05-07 08:18] gaetanzanella commented on #87
Hi @thomasdelgado, thanks for the issue!

Sorry, but no, you can't. It is though feasible of implementing it. You could play with the [ScrollViewOverlayTranslationDriver](https://github.com/applidium/OverlayContainer/blob/master/Source/Classes/Internal/ScrollViewOverlayTranslationDriver.swift) ;).

[2022-07-06 14:30] thomasdelgado commented on #57
+1 for this! Having the same behavior as the Apple Maps on landscape would be nice

[2022-07-06 14:31] #87 closed

[2022-07-06 18:29] gaetanzanella commented on #57
@thomasdelgado the Maps like example reproduces this behavior, doesn't it?

[2022-07-07 16:23] thomasdelgado commented on #57
@gaetanzanella partially I would say. Apple Maps currently allows to scroll and open the overlay from top to bottom.

https://user-images.githubusercontent.com/3489795/177822953-e5db7320-e7a9-4c30-b851-c6052c6362a7.mov

[2022-07-08 06:34] gaetanzanella commented on #57
I see. You should implement this behavior yourself. It shouldn't be too hard: use the maps like example and add a pan gesture capable of reducing the height of your overlay container view controller.

[2022-07-16 11:01] #57 closed